/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #D6D6D6;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 233px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #F4F5F7;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #5D7FBF;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 15%;
        left: 225px;
        width: 233px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        background-color: #5373B4;
    }

    .side-nav>li>a {
        width: 233px;
    }


}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.has-sub{
    border-bottom: 1px solid #5B7DBD;
}
.has-sub1{
    border-bottom: 0px solid #5B7DBD;
}
.sep {
    border-left: 1px solid #6284C3;
    display: inline-block;
    height: 12px;
    line-height: 1.42857;
    margin-left: 10px;
    margin-top: 19px;
    overflow: hidden;
    width: 0;
}
.color-panel {
    position: relative;
    z-index: 999;
}
.color-panel .icon-color:hover {
    background-color: #3d3d3d !important;
}
.color-panel {
    background: url("../img/icon-color.png") no-repeat scroll center center #c9c9c9 !important;
}
.param-ic{
    width: 34px;
    height: 36px;
    float: right;
    background: url("../images/icon-color.png") no-repeat scroll center center #c9c9c9 !important;
    margin-top: 4px;
}
.param-i{
    width: 34px;
    height: 36px;
    float: right;
    margin-top: 4px;
}
.fa-gear{
    color:#5373B4;
}
.h-admin{
    margin-top: 15px;
    color: #fff;
}
.list-group.panel > .list-group-item {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px
}
.list-group-submenu {
  margin-left:20px;
}
#MainMenu{
width: 101%;
height: 100%;
margin-left: -2px;
}
.pad-gauche{
    margin-left: -25px;
}
.ic{
    float:right;
    margin-left: 10px;
}
.w_select{
    width:400px;
}
li.deplace {
margin-left: 15px;
}
i.fa.fa-fw {
margin-left: 12px;
}
div#formDmdVirement {
height: 440px;
}
.modal-dialog.details {
width: 583px;
}
th.cred {
width: 96px;
}
td.align {
text-align: right;
}
div#erreur {
height: 38px;
line-height: 6px;
text-align: center;
}

input.form-control.t_inp {
width: 100px;
}
th.porteur {
width: 25%;
}
th.champ {
width: 39%;
}
.col-md-1.btn-exp {
    float: right;
    margin-right: 29px;
}
.img_logo{
  width: 50px;
  padding-top: 263px;
  margin: 0 auto;

}

div#boite_detail {
width: 270px;
margin-top: 28px;
}
div#c_boite {
padding: 14px;
}
div#c_head {
border-bottom-width: 0px;
}
div#c_footer {
border-top: 0px;
}

div#c_footer_recap {
    border-top: 0px;
    margin-right: 60px;
    margin-top: -23px;
}
div#touche_pop {
    padding: 3px;
}
.fa-chevron-up{
    color:#fff;
    margin-left: -4px;
}
.col-md-1.btn-exp1 {
float: right;
}
.row.exports {
margin-bottom: 5px;
}
.bouton-top{
    width:40px;
    height:40px;
    position:absolute;
    margin-left:1056px;
    opacity: 0.5;
    }

    #btn_up{
    position:fixed;
    cursor: pointer;
    bottom:25%;
    right:auto;
    display:none
    }
.esp_logo {
background-color: #5373B4;
height: 350px;
margin-top: -150px;
}
.modal-dialog.ajoutBoutik {
    width: 700px;
}
.pagingLabel{
    margin-top: 20px;
}
.rowPaginationTOP{
    margin-top: -50px;
}
.modal-dialog.modal-sm.p_modif {
width: 694px;
}
.modal-dialog.a_user {
width: 694px;
}
.i_loader{
    margin-right: 600px;
}
.bodyChangePWD{
    width: 50%;
    margin-left: 25%;
    min-height: 550px;
}
.bodySetting{
    width: 70%;
    margin-left: 5%;
    min-height: 550px;
}
.bodyBoutique{
    min-height: 550px;
}
.bodyCaisse{
    min-height: 550px;
}
.bodyJournal{
    min-height: 550px;
}
.bodyUtilisateur{
    min-height: 550px;
}
.bodyTransfert{
    width: 70%;
    margin-left: 5%;
    min-height: 550px;
}
.bodyPaiement{
    width: 70%;
    margin-left: 15%;
    min-height: 550px;
}
.pageWrapperHeight {
    height: 650px;
}
a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  none;
}
body {
    overflow-x:hidden;
}
body#hcptc {
overflow-y: hidden;
}
.fa-check-circle{
    color:#40D15F;
}
.fa-circle{
    color:#ED4337;
}
.alertWidth{
    width: 60%;
}

.requiered{
    float: right;
    color: #b8070d;
    font-size: larger;
}
.styleTD{
    width : 35%;
}
#soldeCptNafa{
    cursor:pointer;
}
.fdte{
    text-align: right;
}
.w-bout {
  width: 22%;
}
.#elm {
 background-color:#f5f5f5;
 color:#000000;
 clear:both;
 text-align:center;
 padding:5px;
     height: 42px;

     .bs-example{
     width: 400px;
     margin-left: auto;
     margin-right: auto;

     }

 }

 #noty-holder{
     width: 25%;
     top: 10;
     font-weight: bold;
     z-index: 10000; /* Max Z-Index in Fixed Nav Menu is 1030*/
     text-align: center;
     position: fixed;
 }

 .alert{
     margin-bottom: 2px;
     border-radius: 0px;
 }

 .starter-template {

   text-align: center;
 }
 .alert-dismissable{
    width:100%;
 }

 .notification{
    float:right;
 }
 .alert-dismissable{
    opacity:0.7;
 }

 .navbar-inverse {
     background-color:#E60028;
 }

 .side-nav {
     position: fixed;
     left: 225px;
     width: 233px;
     margin-left: -225px;
     border: none;
     border-radius: 0;
     background-color: #D6D6D6;
 }

 i.fa.fa-th.fa-lgn {
     color: #D7002A;
 }

 i.fa.fa-check-circle.fa-lgn {
     color: #D7002A;
 }

 i.fa.fa-user.fa-lg {
     color: #D7002A;
 }

 i.fa.fa-group.fa-lg {
     color: #D7002A;
 }

 i.fa.fa-building-o.fa-lg {
     color: #D7002A;
 }

 i.fa.fa-cog {
     color: #D7002A;
 }

 .fa-file-text{
     color: #D7002A;
 }

 i.fa.fa-bug.fa-lgn {
     color: #D7002A;
 }

 a.trait {
     color: #FC1542;
 }

 .navbar-inverse .navbar-brand {
     color: #FFFFFF;
 }

 .navbar-inverse .navbar-nav>li>a {
     color: #FFFFFF;
 }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #ffffff;
}

.form-horizontal .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
}

div#nbr_ligne_tableau {
    font-size: 19px;
}

.form-group.form5 {
    margin-bottom: -5px;
}

.pull-right {
    padding-right: 31px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #D9002B;
    border-color: #D9002B;
    cursor: default;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 16px;
    line-height: 1.846;
    text-decoration: none;
    color: #4A4C4D;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.btn-utilisateur{
    padding-right: 16px;
    margin-bottom: 17px;
}

.modal-dialog {
    z-index: 10000;
}

span.caret {
    margin-left: 4px;
}

body#hlogin {
    background-color: #E9E9E9;
}

.panel.panel-danger .panel-heading {
    /* background-color: #cc3f44; */
    color: #ffffff;
}

.panel .panel-heading {
    position: relative;
    padding: 0;
    margin: 0;
    background: none;
    font-size: 17px;
    padding-bottom: 15px;
    /* border-bottom: 2px solid #f5f5f5; */
}

.panel-body.login {
    background: linear-gradient(to bottom, #E51C23 0%,#E51C23 58%,#000000 50%,#000000 100%);
    height: 343px;
}

.panel-footer {
    background-color: #000;
    margin-top: 35px;
}

button#bt_submit_connexion {
    background-color: #312F2F;
}

.padtop {
    border-top: 8px solid #fff;
    width: 80%;
    margin: 0 auto;
    margin-top: 48px;
}

.logcont {
    width: 79%;
    margin: 0 auto;
    margin-top: 45px;
}

.bot {
    margin-bottom: 15px;
}

.input-group-addon {
    padding: 0px 0px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
}

.fa-2x {
    font-size: 1.5em;
}

span.input-group-addon {
    padding-right: 10px;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #fff;
}

.form-control.log {
    color: #fff;
    box-shadow: inset 0 -1px 0 #fff;
}

.form-control{
    box-shadow: inset 0 -1px 0 #fff;
}

select#filtre_operande {
    box-shadow: inset 0 -1px 0 #E4DEDE;
}

select#filtre_critaire {
    box-shadow: inset 0 -1px 0 #E4DEDE;
}
select#seladd_userprofil {
    box-shadow: inset 0 -1px 0 #E4DEDE;
}
select#seldet_userprofil {
    box-sha                     dow: inset 0 -1px 0 #E4DEDE;
}

code.codeparam {
    font-size: 113%;
}

body#chpwd {
    overflow-y:hidden;
    margin-top: 152px;
}

.panel.panel-danger.changepwd {
    padding: 0px 0px;
}

.ui-datepicker-div {
    z-index:2000;
}

li a { margin: 0px; display: block;}

.navbar {
    border: none;
    /* -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3); */
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.3); */
}

.navbar {
    /* border: none; */
    -webkit-box-shadow: 0 0px 0px 0px; */
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.3); */
}

hr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #FBF8F8;
}
.fa-filter {
 color:#d7002a;
}
