<ul id="navigation">
    <li id="m_reglement"><a href="/accueil"><i class="fa fa-briefcase"></i> <span>Liste vouchers</span></a></li>
    <!--<li id="m_utilisateur"><a href="/utilisateur"><i class="fa fa-users"></i> <span>Utilisateurs</span></a></li>-->
    <!--<li id="m_abonne"><a href="/abonne"><i class="fa fa-user"></i> <span>Abonnés</span></a></li>-->
    <!--<li id="m_facture"><a href="/facture"><i class="fa fa-archive"></i> <span>Factures</span></a></li>-->
    <!--<li id="m_facturier"><a href="/facturier"><i class="fa fa-building"></i> <span>Facturier</span></a></li>-->
</ul>

